# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# ENVIRONMENT VARIABLES
# ========================
.env
.env.*

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# DATA FILES (IMPORTANT)
# ========================
*.csv
*.sqlite
*.db
*.xlsx

# ========================
# MODEL FILES (ML)
# ========================
*.pkl
*.joblib
*.h5

# ========================
# LOGS
# ========================
*.log

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# STREAMLIT
# ========================
.streamlit/

# ========================
# LARGE FILES / TEMP
# ========================
*.zip
*.tar
*.gz
*.tmp
